DATABASE_URL=mongodb://127.0.0.1/payload-app
PAYLOAD_SECRET=your-secret-key-here
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your-mailtrap-username
SMTP_PASS=your-mailtrap-password
EMAIL_FROM=noreply@mystore.com
